<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="">

    <title>Senem</title>

    <link th:href="@{/css/bootstrap.min.css}" href="/resources/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/site_style.css}" href="/resources/static/css/site_style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

</head>

<body>
<header>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col">
            </div>
            <div class="col-7">
                <center>
                    <h3>Stock</h3>
                </center>
            </div>
            <div class="col">
                <form th:action="@{/app-logout}" method="POST">
                    <input type="submit" value="Logout" class="btn btn-dark"/>
                </form>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addModal">  Add</button>
            </th>
        </tr>
        </thead>
        <tbody>
        <center>
            <tr th:if="${products.empty}">
                <td colspan="2"> No Product Available </td>
            </tr>

        </center>

        <tr th:each="product : ${products}">
            <td><span th:text="${product.name}"> Name </span></td>
            <td><span th:text="${product.price}"> Price </span></td>
            <td><a th:href="@{/app/delete(productId=${product.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="POST" th:action="@{/app/add}" id="addPerson">

                <div class="modal-body">

                    <label for="name">Product Name </label>
                    <input type="text" name="name"/><br/>

                    <label for="price">Price: </label>
                    <input type="text" name="price"/><br/>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="bwt-footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <div class="left-text">Copyright &copy; Senem 2019.</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>
