<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="">

    <title>Senem</title>

    <link th:href="@{/css/bootstrap.min.css}" href="/resources/static/css/regbootstrap.min.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/site_style.css}" href="/resources/static/css/site_style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

</head>

<body>

<div class="container">
</div>

<div class="container">

    <div class="text-center">
        <h1>Register</h1>
    </div>

    <form method="POST" th:action="@{/register}" id="registerForm">

        <div class="mb-3" >
            <label for="username">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                <div class="invalid-feedback" style="width: 45%;">
                    Username is required.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            <div class="invalid-feedback">
                Please enter password.
            </div>
        </div>

        <div class="mb-3">
            <label for="confirm">Confirm Password</label>
            <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Confirm" required>
            <div class="invalid-feedback">
                Please confirm password.
            </div>
        </div>

        <div class="mb-3">
            <label for="email">Email</label>
            <div class="input-group">
                <div class="input-group-prepend">
                </div>
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                <div class="invalid-feedback" style="width: 45%;">
                    Email is required.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="phoneNumber">Phone</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="05XX-XXX-XX-XX" required>
            <div class="invalid-feedback">
                Please enter phone number.
            </div>
        </div>
        <div class="text-center">
            <input type="submit" value="Register" class="btn btn-lg btn-outline-secondary"/>
        </div>
    </form>

</div>
</div>
</body>
</html>
