<!DOCTYPE html>
<html lang="en" xmlns="http://wwww.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="">

    <title>Senem</title>


    <link th:href="@{/css/bootstrap.min.css}" href="/resources/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/site_style.css}" href="/resources/static/css/site_style.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/signin.css}" href="/resources/static/css/signin.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

</head>
<body>
<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form">
<span class="login100-form-title p-b-49">
Login
</span>
                <!---- USERNAME --->

                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" name="username" placeholder="Type your username">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <!--- PASSWORD ---->
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="pass" placeholder="Type your password">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>
<!----- CONFIRM PASSWORD ---->
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Confirm Password</span>
                    <input  class="input100" type="password" name="comfirm_password"  placeholder="Type your confirm password" >
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <!---- E-MAIL----->

                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <span class="label-input100">E-mail</span>
                    <input class="input100" type="text" name="email" placeholder="Type your username">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                !----  GENDER  TYPE =RADIO ---->
                <div class="form-radio-item">
                    <input type="radio" name="gender" id="male" checked>
                    <label for="male">Male</label>
                    <span class="check"></span>
                </div>
                <div class="form-radio-item">
                    <input type="radio" name="gender" id="female">
                    <label for="female">Female</label>
                    <span class="check"></span>
                </div>


                <div class="text-right p-t-8 p-b-31">
                    <a href="#">
                        Forgot password?
                    </a>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </div>
                <div class="txt1 text-center p-t-54 p-b-20">
<span>
Or Sign Up Using
</span>
                </div>
                <!---SOCAIL MEDIA ---->
                <div class="flex-c-m">
                    <a href="#" class="login100-social-item bg1">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="login100-social-item bg2">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="login100-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div>
                <div class="flex-col-c p-t-155">
<span class="txt1 p-b-17">
Or Sign Up Using
</span>
                    <a href="#" class="txt2">
                        Sign Up
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>

<script src="vendor/jquery/jquery-3.2.1.min.js" type="07490a8e29e57f255dcadf73-text/javascript"></script>

<script src="vendor/animsition/js/animsition.min.js" type="07490a8e29e57f255dcadf73-text/javascript"></script>

<script src="vendor/bootstrap/js/popper.js" type="07490a8e29e57f255dcadf73-text/javascript"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js" type="07490a8e29e57f255dcadf73-text/javascript"></script>

<script src="vendor/select2/select2.min.js" type="07490a8e29e57f255dcadf73-text/javascript"></script>

<script src="vendor/daterangepicker/moment.min.js" type="07490a8e29e57f255dcadf73-text/javascript"></script>
<script src="vendor/daterangepicker/daterangepicker.js" type="07490a8e29e57f255dcadf73-text/javascript"></script>

<script src="vendor/countdowntime/countdowntime.js" type="07490a8e29e57f255dcadf73-text/javascript"></script>

<script src="js/main.js" type="07490a8e29e57f255dcadf73-text/javascript"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="07490a8e29e57f255dcadf73-text/javascript"></script>
<script type="07490a8e29e57f255dcadf73-text/javascript">
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js" data-cf-settings="07490a8e29e57f255dcadf73-|49" defer=""></script></body>
</html>
